<div th:fragment="defaultheader">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Hello</a></li>
                    <li><a href="/games/" class="nav-link px-2 text-white">Games</a></li>
                    <li><a href="/cars/" class="nav-link px-2 text-white">Cars</a></li>
                    <li><a href="/person/" class="nav-link px-2 text-white">MTM</a></li>
                    <li><a href="/personOTO/" class="nav-link px-2 text-white">OTO</a></li>
                    <li><a href="/personOTM/" class="nav-link px-2 text-white">OTM</a></li>
                </ul>
                <form th:action="@{/logout}" method="post">
                <div class="text-end">
                    <input type="submit" value="LogOut" class="btn btn-warning">
                </div>
                </form>
            </div>
        </div>
    </header>
</div>